[submodule "hdl/libfpga"]
	path = hdl/libfpga
	url = https://github.com/Wren6991/libfpga.git
[submodule "hdl/hazard3"]
	path = hdl/hazard3
	url = https://github.com/Wren6991/Hazard3.git
[submodule "hdl/twowiredebug"]
	path = hdl/twowiredebug
	url = https://github.com/Wren6991/TwoWireDebug.git
[submodule "hdl/riscboy"]
	path = hdl/riscboy
	url = https://github.com/Wren6991/RISCBoy.git
[submodule "scripts"]
	path = fpgascripts
	url = https://github.com/Wren6991/fpgascripts.git
